.filterContainer {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.filterButton {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #1f2937;
  background-color: #111827;
  color: #9ca3af;
  cursor: pointer;
  transition: 0.2s;
}

.filterButton:hover {
  background-color: #1f2937;
  color: white;
}

.active {
  background-color: #3b82f6;
  color: white;
  border: none;
}